<%- include('../partials/header.ejs') %>

<div class="search-bar">
  <form action="/comics" method="GET">
    <input type="text" name="search" placeholder="Search comics..." value="<%= search || '' %>">
    <button type="submit">Search</button>
  </form>
</div>

<main>
  <h1>All Comics</h1>
  <div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="/comics?page=<%= currentPage - 1 %>&search=<%= search || '' %>">Previous</a>
    <% } %>
    
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/comics?page=<%= i %>&search=<%= search || '' %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
    <% } %>

    <% if (currentPage < totalPages) { %>
      <a href="/comics?page=<%= currentPage + 1 %>&search=<%= search || '' %>">Next</a>
    <% } %>
  </div>
  
  <ul>
    <% if (comics.length > 0) { %>
      <% comics.forEach((comic) => { %>
        <li class="comic-item">
          <a href="/comics/<%= comic._id %>">
            <img src="<%= comic.image %>" alt="<%= comic.title %>" class="comic-image" loading="lazy">
          </a>
          <div class="comic-content">
            <a href="/comics/<%= comic._id %>" class="comic-title"><%= comic.title %></a>
          </div>
        </li>
      <% }); %>
    <% } else { %>
      <p>No comics available. <a href="/comics/new">Add one!</a></p>
    <% } %>
  </ul>
</main>

<%- include('../partials/footer.ejs') %>
