<%- include('../partials/header.ejs') %>
<h1><%= comic.title %></h1>
<% if (comic.image) { %>
    <img src="<%= comic.image || '/path-to-placeholder-image.jpg' %>" alt="<%= comic.title %>" 
         style="
         max-width: 100%; 
         height: auto; 
         display: block; 
         margin: 1rem 0; 
         border-radius: 5px; 
         box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
<% } %>
  
<p><strong>Description:</strong> <%= comic.description %></p>
<p><strong>Categories:</strong> <%= comic.categories && comic.categories.length > 0 ? comic.categories.join(', ') : 'No categories provided.' %></p>
<p><strong>Rating</strong> <%= comic.rating %>/5</p>
<p><strong>Posted by: </strong> <%= comic.owner.username %></p>

<a href="/comics">
<button>
  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
  <span>Comics</span>
</button>
  </a>
  

<% if (user && user._id.equals(comic.owner._id)) { %>
<a href="/comics/<%= comic._id %>/edit">Edit</a>
<form action="/comics/<%= comic._id %>?_method=DELETE" method="POST" style = "display:inline;">
    <button type="submit">Delete</button>
  </form>
<% } %>

<h2>Comments</h2>
<ul>
  <% comic.comments.forEach((comment) => { %>
    <li>
      <strong><%= comment.author.username %>:</strong> <%= comment.text %>
    </li>
  <% }); %>
</ul>

<% if (user) { %>
  <form action="/comics/<%= comic._id %>/comments" method="POST">
    <div class="form">
      <input class="input" placeholder="Write your comment..." name="text" required type="text">
      <span class="input-border"></span>
    </div>
    
<button class="ui-btn">Opinions</button>

  </form>
<% } else { %>
  <p><a href="/auth/sign-in" style="color: #5891ff; text-decoration: none;">Sign in</a> to post a comment.</p>
<% } %>

<%- include('../partials/footer.ejs') %>