<%- include('../partials/header.ejs') %>

<div class="container">
  <div class="show-comic">
    <div class="comic-item">
      <img src="<%= comic.image %>" alt="<%= comic.title %>" class="comic-image" loading="lazy">
      <div class="comic-content">
        <h1><%= comic.title %></h1>
        <p><strong>Description:</strong> <%= comic.description %></p>
        <p><strong>Categories:</strong> 
          <%= comic.categories && comic.categories.length > 0 ? comic.categories.join(', ') : 'No categories provided.' %>
        </p>
        <p><strong>Rating:</strong> <%= comic.rating %>/5</p>
        <p><strong>Posted by:</strong> <%= comic.owner.username %></p>
      </div>

      <div class="share-buttons">
        <a href="https://twitter.com/intent/tweet?text=Check out this comic: <%= comic.title %>&url=https://comicreviewboards-1b3201cae838.herokuapp.com/comics/<%= comic._id %>" target="_blank">
          Tweet
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://comicreviewboards-1b3201cae838.herokuapp.com/comics/<%= comic._id %>" target="_blank">
          Share on Facebook
        </a>
      </div>

      <a href="/comics" class="back-button">Back to Comics</a>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
